
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./PNGs/background_all.jpg');
    background-repeat: no-repeat;
}

canvas {
    height: 450px;
    touch-action: none;
    z-index: -1;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-radius: 8px;
}

.menuTitle {
    font-family: MedievalSharp;
}

.ui.card {
    background-color: rgb(204, 173, 114);
    padding-left: 2px;
    padding-right: 2px;
}

.header {
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-radius: 4px;
}

.bonusPointIcon {
    max-height: 23px;
    max-width: 23px;
}


.resourceBar {
    display: inline-block;
    background-color: rgb(204, 173, 114);
    padding: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-radius: 12px;
}

.compMessageLog { 
    /* background-image: url('./PNGs/background_messagelog.png'); */
    background: url('./PNGs/background_messagelog.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px;
}

.messageLine { 
    margin-left: 10%;
}

.messageEntryBox { 
    background-color:rgba(0, 0, 0, 0);
    margin-bottom: 10px;
}

.ui.input input {
    background-color:rgb(0, 0, 0, 0);
    border-radius: 2px;
    width: 100%;
}

.ui.input input ::selection{
    background-color:rgba(255, 255, 255, 0);
    border-radius: 2px;
    width: 100%;
}

.devCardBar {
    display: inline-block;
    background-color: rgb(204, 173, 114);
    padding: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-radius: 12px;
}

.buildingsBar {
    display: inline-block;
    background-color: rgb(204, 173, 114);
    padding: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-radius: 12px;
}

